* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
} */

@layer components {
  .card {
    @apply bg-white rounded-lg overflow-hidden shadow-lg text-center flex flex-col h-full;
  }
  
  .label {
    @apply block text-gray-700 text-label-blue mb-2;
  }

  .input {
    @apply appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-300;
  }
}