<footer class="footer mt-4 pt-8 pb-4">
    <div class="container mx-auto px-28">
        <div class="border-t border-black flex items-center justify-between pt-8">
            <div class="flex items-center">
                <picture>
                    <source srcset="./assets/images/logo.png/?as=webp&width=350" type="image/webp" />
                    <a href="/src/index.html"><img class="w-20" src="/src/assets/images/logo.png" alt="Logo del concurso"/></a>
                </picture>
            </div>
            <div>
                <ul class="flex space-x-16">
                    <li><a class="text-footer-links hover:text-footer-links-hover" href="/src/index.html">Portada</a></li>
                    <li><a class="text-footer-links hover:text-footer-links-hover" href="/src/participantes.html">Participantes</a></li>
                    <li><a class="text-footer-links hover:text-footer-links-hover" href="/src/inscripcion.html">Inscripción</a></li>
                    <li><a class="text-footer-links hover:text-footer-links-hover" href="/src/ia.html">Página IA</a></li>
                </ul>
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href=""><img class="w-6" src="/src/assets/images/instagram.png" alt="Instagram"></a></li>
                    <li><a href=""><img class="w-6" src="/src/assets/images/facebook.png" alt="Facebook"></a></li>
                    <li><a href=""><img class="w-6" src="/src/assets/images/x.png" alt="X"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
