<form class="mx-8 md:mx-16 lg:mx-24 xl:mx-48 2xl:mx-96 bg-white border-2 border-border-orange rounded-3xl px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
        <label for="dni" class="label">DNI</label>
        <input type="text" id="dni" name="dni" class="input" required>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="nombre" class="label">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="input" required>
        </div>
        <div class="w-full md:w-1/2 px-3">
            <label for="apellidos" class="label">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" class="input" required>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="localidad" class="label">Localidad</label>
            <input type="text" id="localidad" name="localidad" class="input" required>
        </div>
        <div class="w-full md:w-1/2 px-3">
            <label for="provincia" class="label">Provincia</label>
            <input type="text" id="provincia" name="provincia" class="input" required>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label for="fecha_nacimiento" class="label">Fecha Nac.</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="input" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label for="email" class="label">Email</label>
            <input type="email" id="email" name="email" class="input" required>
        </div>
        <div class="w-full md:w-1/3 px-3">
            <label for="telefono" class="label">Teléfono</label>
            <input type="tel" id="telefono" name="telefono" class="input" required>
        </div>
    </div>
    <div class="mb-4">
        <label for="profesion_cocina" class="label">¿Te dedicas o has dedicado profesionalmente a la cocina?</label>
        <select id="profesion_cocina" name="profesion_cocina" class="input">
            <option selected>Seleccione una opción...</option>
            <option value="si">Sí</option>
            <option value="no">No</option>
        </select>
    </div>
    <div class="mb-4">
        <label for="opciones" class="label">¿Cómo conociste el concurso?</label>
        <select id="opciones" name="opciones" class="input">
            <option selected>Seleccione una opción...</option>
            <option value="Internet">Internet</option>
            <option value="Televisión">Televisión</option>
            <option value="Radio">Radio</option>
            <option value="Mediante algún conocido">Mediante algún conocido</option>
        </select>
    </div>
    <div class="flex justify-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar</button>
    </div>
</form>