<!-- Cabecera -->
<header class="mt-4 mb-12 pb-4 border-b border-black">
    <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between lg:px-28">
        <div class="flex items-center">
            <a href="/src/index.html">
                <h1 class="flex items-center">
                    <span class="mr-4 block h-12 w-12 bg-contain bg-no-repeat bg-bottom" style="background-image: url('/src/assets/images/logo.png');"></span>
                    <span class="text-txt-orange text-header-title font-header-weight">Concurso de cocina</span>
                </h1>
            </a>
        </div>
        <!-- Menú -->
        <nav>
            <ul class="flex space-x-6">
              <li><a class="text-gray-700 hover:text-txt-orange" href="/src/participantes.html">Participantes</a></li>
              <li><a class="text-gray-700 hover:text-txt-orange" href="/src/inscripcion.html">Inscripción</a></li>
              <li><a class="text-gray-700 hover:text-txt-orange" href="/src/ia.html">Página IA</a></li>
            </ul>
        </nav>
    </div>
</header>