<!-- Cabecera -->
<header class="mt-4 border-b border-black">
    <div class="container mx-auto flex items-baseline justify-between px-4">
        <div class="flex items-center">
            <a href="/src/index.html" class="flex items-center">
                <h1 class="text-gray-700 text-lg flex items-center">
                    <!-- <span class="mr-4 block h-12 w-12 bg-contain bg-no-repeat bg-bottom">Concurso de cocina</span> -->
                    <span class="mr-4 block h-12 w-12 bg-contain bg-no-repeat bg-bottom" style="background-image: url('/src/assets/images/logo.png');"></span>
                    <span class="text-orange-500 text-4xl">Concurso de cocina</span>
                </h1>
            </a>
        </div>
        <!-- Menú -->
        <nav>
            <ul class="flex space-x-6">
              <li><a class="text-gray-700 hover:text-orange-500" href="/src/participantes.html">Participantes</a></li>
              <li><a class="text-gray-700 hover:text-orange-500" href="/src/inscripcion.html">Inscripción</a></li>
            </ul>
        </nav>
    </div>
</header>
    